@using ASP.NET_intro.Models.Products;
@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Products Catalog";
}

<div class="card" style="width: 18rem;">
    <div class="card-header">All Products</div>
    <ul class="list-group list-group-flush">
        @{
            foreach (var product in Model)
            {
                <li class="list-group-item">N.@product.Id: @product.Name - @product.Price lv.</li>
            }
        }
    </ul>
</div>
